<h1>Welcome to the Books app</h1>

<form action="/login" method="post">
  <label for="username">Username: </label>
  <input id="username" type="text" name="user[username]"/>
  <br>
  <label for="password">Password: </label>
  <input id="password" type="password" name="user[password]"/>
  <input type="submit" value="login">
</form>